@charset "UTF-8";

/*
 iPod Touch 6th = 1136 x 640, 326 ppi
 */

* {
    margin: 0;
    padding: 0
}

a {
    text-decoration: none;
}

h1 {
    background-color: Gainsboro;
    font-size: 24px;
    margin-bottom: 12px;
    text-align: center;
}

h2 {
    font-size: 1em;
    color: blue;
}

ul {
    list-style : none;
}

.contents {
    width: 90%;
    margin-left: 1em;
    margin-bottom: 1em;
}

.subcontents {
    margin-bottom: 1em;
}

.navi {
    margin-right: 1em;
}

.navi a:hover {
    background-color: Gainsboro;
}

div.border {
    border: 1px solid black;
}

div.navibox {
    margin-bottom: 1em;
    text-align: right;
}

.ime-active {
    ime-mode: active;
}

.shortcut {
    display: inline-block;
}

.shortcut::before { 
    content: "(";
}

.shortcut::after { 
    content: ")";
}

.shortcut:first-letter {
    text-decoration: underline;
    text-transform: capitalize;
}

#btnPaste {
    display: none;
}

#boundAddr {
    width: 20em;
}

#kword {
    margin-right: 1em;
}

#kyoku {
    margin-right: 1em;
}

option:nth-child(odd) {
    background: #f5f5f5;
}

/* 交通用具 */
#directionsPanel {
    width: 200px;
}

#yougu_map {
    width: 400px;
    height: 600px;
}
	 
/* Directions Panel */
.warnbox-content {
    font-size: 7pt;
}

.adp-summary {
    border-style: dashed;
    border-width: 3px;
    /* border-color:  */
    text-align: right;
    font-weight: bold;
}

td.adp-substep {
    font-size: 7pt;
}

td.adp-text {
    font-size: 8pt;
}

.adp-legal {
    font-size: 8pt;
}

/* ＪＲ線・地下鉄 */
#jrsubway_map {
    width: 400px;
    height: 600px;
}

/* ＪＲ線・地下鉄のフキダシ */
.gm-style > div > div > div > div > div > div {
    color: purple;
    opacity: 0.7;
}

#busstopname {
    margin-bottom: 0.4em;
}

#busStops {
    width: 20em;
}

#busRoutes {
    width: 25em;
}

#btnLock {
    margin-top: 1em;
    margin-bottom: 0.4em;
}

#lock {
    margin-bottom: 0.4em;
}

#bus_map {
    width: 400px;
    height: 600px;
}

#hot {
    font-size: 13px;
}

.handsontable .currentRow {
    background: MistyRose;
}


/* 1024 ピクセル以上の場合 */
@media screen and ( min-width: 1024px ) {
    #btnPaste {
	display: inline;
    }

    #yougu_map {
	width: 1000px;
	height: 600px;
    }

    #jrsubway_map {
	width: 1000px;
	height: 600px;
    }

    #bus_map {
	width: 1000px;
	height: 600px;
    }

}
